configuration {
	modi: "window,run,drun";
	width: 100;
	lines: 30;
	font: "Iosevka Nerd Font 16";
	location: 0;
	padding: 270;
	show-icons: true;
	icon-theme: "Numix-Square";
	hide-scrollbar: true;
	display-window: "";
	display-run: "";
	display-ssh: "  ";
	display-drun: "";
	display-combi: "";
}
